.about-me {
    color: #ffffff; 
    width: 70%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Poopins';
    font-size: 100%;
    line-height: 1.8;
    opacity: 0.6;
    margin-top: 4vh;
    font-weight: 100;;
  }
  