.Images {
  width: 45%;
  object-fit: cover;
  opacity: 0;
  transform: scale(1);
  transition: transform 0.3s ease-in-out, opacity 0.5s ease-in-out;
  cursor: pointer;
  pointer-events: none;
}

.ImagesVisible {
  opacity: 1;
  pointer-events: auto;
}

.Images:hover {
  transform: scale(1.05);
}

.VideoBlender {
  width: 50%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
}

.VideoVisible {
  opacity: 1;
  pointer-events: auto;
}

@media (max-width: 768px) {
  .Images,
  .VideoBlender {
    width: 90%;
  }
}


.VideoBlender {
  width: 80%;
  object-fit: cover;
  opacity: 0;
  transform: scale(1);
  transition: transform 0.3s ease-in-out, opacity 0.5s ease-in-out;
  pointer-events: none;
  cursor: pointer;
}

.VideoVisible {
  opacity: 1;
  pointer-events: auto;
}

.VideoBlender:hover {
  transform: scale(1.05);
}
