.Designs {
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 5%;
  font-size: 400%;
}

.ImagesDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 50px;
}

.Images {
  width: 45%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .Designs {
    font-size: 200%; 
    padding: 30px 10px;
  }

  .ImagesDiv {
    padding: 20px;
    gap: 20px;
  }

  .Images {
    width: 90%; 
  }
}
